POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=manifest_db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@localhost:5432/manifest_db